.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 170px 170px 170px 170px;
  grid-template-rows: auto auto auto;
}

.item {
  border-radius: 3px;
  text-align: center;
}

#comprado {
  background-color: #FF5253;
}


#no-comprado {
  background-color: #04A699;
}
