<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Lista de la compra</title>
</head>
<body>
<table style="width: 100%; border: 1px solid black;" class="prod">
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
  </tr>
  <tr *ngFor="let producto of productos index as i;">
      <td *ngIf="!producto.comprado" (click)="seleccionarCompra(i)" >{{producto.nombre}}</td>
      <td *ngIf="!producto.comprado">{{producto.descripcion}}</td>
  </tr>
</table>

<h2>Productos comprados:</h2>
<div class="prod" *ngFor="let producto of productos index as i;">
  <td *ngIf="producto.comprado" (click)="seleccionarCompra(i)">{{producto.nombre}}</td>
</div>
</body>
</html>
